body{
background:url("img/bg.jpg");
width:1000px;
margin:0 auto;
font-family:Arial;
}

label{
color:#0082c8;
display: block;
width:35%;
float:left;
padding-right: 1%;
text-align: right;
letter-spacing: 1px;
}

/* HOME DECONNECTE */

#index, .wrapp{
border-radius: 10px 10px 10px 10px;
border:3px solid #4a6f7a;
margin-bottom: 10px;
margin-top: 10px;
padding:10px;
}

.wrapp{
padding: 8px 8px 8px 32px;
}

#banniere{
background:#4a6f7a;
border-radius: 10px 10px 10px 10px;
color: white;
font-size: 50px;
padding: 18px;
text-align: center;
margin-top:8px;
}

/* Bouttons homepage deconecté*/

#listBoutton{
width:400px;
margin:0 auto;
margin-top:15px;
margin-bottom:15px;
}

button.boutonHomeDeco{
border-radius: 10px 10px 10px 10px;
background:transparent;
border:3px solid #0082c8;
color: #0082c8;
padding:11px;
margin-left:30px;
cursor:pointer;
}

button.boutonHomeDeco:hover{
color:#ffffff;
border:3px solid #00d2b8;
background:#00d2b8;
}

/* MIRE DE LOGIN */
#mire{
width:306px;
margin-bottom:30px;
margin-left:100px;
}

fieldset{
border-radius: 10px 10px 10px 10px;
border:3px solid #0067CF;
}

fieldset legend{
color:#0067CF;
}

/*ZONE DE CONSEIL PAGE ACCUEIL*/
#conseil{
background-color: #0067CF;
border-radius: 10px 10px 10px 10px;
color: white;
float: right;
margin-right: 83px;
margin-top: -22px;
width: 400px;
}

p.conseil{
	padding:17px;
	margin:0px;
}

/*ZONE DE CONSEIL INSTRUCTION*/
#conseilInstruction{
background-color: #0067CF;
border-radius: 10px 10px 10px 10px;
color: white;
margin-top: 10px;
margin-bottom:10px;
padding: 5px 5px 5px 5px}


/* PARTIE ADMIN */


input, textarea,  select{
background-color:#f2f2f2;
border:none;
border:2px solid #f2f2f2;
border-bottom:2px solid #0082c8;
}

input:hover,  textarea:hover,  select:hover{
border:2px solid #00d2b8;
}

#admin a{
font-weight:bold;
padding:10px;
display:inline;
text-decoration:none;
color:#0082c8;
}

#admin a:hover{
text-decoration:underline;
color:#00d2b8;
}

#admin div.menu{
margin:30px 10px;
}

/* button submit */
 input[type="submit"]
{
	border:2px solid #f2f2f2;
	padding:5px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#0082c8;
    color:white;
}

 input[type="submit"]:hover
{
	background-color: #00d2b8;
	cursor: pointer;
}





/* ADMIN FORMULAIRE  */

#adminForm
{	
width:700px;	
}

#adminForm label{
	display: block;
	width: 40%;
	float: left;
	text-align: right;

}

#adminForm input, #adminForm select
{
	width: 50%;
}

#adminForm input[type="submit"]
{
	width:auto;
}

#adminForm span{
	display: block;
}



.left{
float:left;
width:25%;
}

.clear{
clear:both;
}





/*  MENU PRINCIPALE  */

.menuP{
width:1000px;
height:39px;
padding:0;
background:url("img/background_Menu.png");
border-radius: 10px 10px 10px 10px;
}

.menuP ul{
margin: 0 0 0 28px;
padding:0;
}

.menuP ul li{
float:left;
list-style-type:none;
}

.menuP ul li a{
text-decoration:none;
color:#ffffff;
display:block;
height:39px;
}

.menuP ul li a.menuP_Links{
font-size:18px;
padding:7px 23px 0;
}

.menuP ul li a.menuP_Links:hover{
background:url("img/rollhover_Menu.png")top left repeat-x;
}

.menuP ul li a.decoBouton{
width:48px;
background:url("img/bouton_Deco.png");
font-size:0px;
}

.menuP ul li a.decoBouton:hover{
background:url("img/rollhover_Deco.png");
}



/* MENU UTILISATEUR */

.menuTop{
height:107px;
}

.menu_User{
padding-left: 53px;
padding-top: 43px;
}

.menu_User ul{
margin:0;
padding:0;
width:508px;
border-bottom:2px solid #37535b;
}

.menu_User ul li{
list-style-type:none;
display:inline;
margin-left:43px;
}

.menu_User ul li a{
font-size:16px;
color:#2f2f2f;
text-decoration:none;
}





/* CHAMP RECHERCHE/RECHERCHE AVANCEE */

.rechercher {
float: right;
margin-right: 50px;
margin-top: -52px;
}

.rechercher #soumettre{
font-size: 0;
height: 22px;
margin-left: 160px;
margin-top: 0;
position: absolute;
width: 28px;
cursor:pointer;
background-color:transparent;
border:none;
}

.rechercher form p{
margin:0;
width:194px;
height:22px;
background:url("img/rechercher.png");
}

.rechercher form p input{
background:#d0d9e2;
border:0;
margin-left: 9px;
width: 154px;
}

.rechercher form a{
color:#2f2f2f;
font-size:12px;
}

 
a
{color:white}


a:hover
{color:#00d2b8;
 text-decoration:none;}

/* PIED DE PAGE */

#footer{
width:1000px;
height:24px;
background:url("img/footer.png");
border-radius: 10px 10px 10px 10px;
}

#footer p {
float: right;
font-size: 12px;
margin-right: 7px;
margin-top: 4px;
}

#footer p a{
text-decoration:none;
color:#ffffff;
}

#footer p a:hover{
text-decoration:underline;
}